.cover{
    height:400px;
    /* border:1px solid red; */
    background-image:url('./assets/rsz_1fahmi-fakhrudin-nzyzausbv0m-unsplash.jpg');
    /*! Tamaño de la imagen 
    probar esa linea de codigo para ver la diferencia
    👉background-size:400px; */
    background-size:cover;
    color:white;
    background-position:center;
    /*! Entonar la imagen a color oscuro */
    background-color:rgba(0, 0, 0, 0.5);
    background-blend-mode:darken;
}
.card{
    /*! Descartar la sombra */
    border:0 !important;
    box-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.6)
}
.cover-small{
    height:200px;
    background-blend-mode:normal;
}